:root {
  --border: 1px;
  --width: 100%;
  --border-radius: 3px;
  --border-colour: #888;
  --background-colour: #ccc;
  --button-colour: #fff;
  --contrast-colour: #fff;
  --primary: #1a237e;
  --primary-inverse: #1976d2;
  --secondary: #888;
  --secondary-inverse: #444;
  --danger: #b71c1c;
  --succeeded: #00c853;
  --max-width: 980px;
}

html,
body {
  font-family: "arial", "helvetica";
  width: var(--width);
  padding: 0;
  margin: 0;
}

.page {
  width: var(--width);
}

.page-header {
  width: 90%;
  margin: auto;
  padding: 15px;
}

.page-header > h2 {
  font-size: 1.2em;
  font-weight: normal;
  color: var(--secondary);
  font-style: italic;
}

.page-content {
  width: 90%;
  margin: auto;
  padding: 15px;
}

.page-footer {
  background-color: var(--secondary);
  padding: 30px 15px;
}

.page-footer > p {
  color: var(--contrast-colour);
  font-stretch: ultra-condensed;
  text-align: center;
}

.text {
  font-size: 0.9em;
  word-break: break-word;
  font-weight: lighter;
  line-height: 1.4em;
}

.form-section {
  border: 0;
  width: var(--width);
  margin: 0 0 30px 0;
  padding: 0 0 15px 0;
  border-bottom: var(--border) dashed var(--secondary);
}

.form-section > legend {
  width: var(--width);
  margin: 15px 0 30px 0;
  padding: 0 0 10px 0;
  font-size: 1.1em;
  font-weight: bolder;
  border-bottom: var(--border) solid var(--secondary);
  text-align: left;
}

.form-group {
  width: 100%;
}

.form-label {
  font-weight: bolder;
  display: block;
}

.form-control {
  width: 92%;
  padding: 10px;
  margin: 10px 0 0 0;
  border-radius: var(--border-radius);
  border: var(--border) solid var(--border-colour);
}

.field-notes {
  margin: 0 0 0 5px;
  font-weight: normal;
  font-style: italic;
  font-size: 0.8em;
  color: var(--danger);
}

.help-text {
  margin: 15px 0 20px 0;
  font-size: 0.8em;
  color: var(--secondary);
}

.has-error {
  color: var(--danger);
}

.error-message {
  font-size: 0.8em;
}

.has-error > .form-control {
  border-color: var(--danger);
}

.has-error > .help-text {
  color: var(--danger);
}

.amount {
  width: 100%;
  text-align: right;
  font-size: 1.4em;
  text-transform: uppercase;
  color: var(--succeeded);
}

.checkbox-list {
  margin-top: 15px;
}

.checkbox-group-item {
  margin: 5px 0px;
  font-size: 1em;
}

.radio-group {
  margin-top: 15px;
}

.radio-group-item {
  margin: 5px 0px;
  font-size: 1em;
}

.form-button-group {
  width: 100%;
  margin: 20px 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.btn {
  width: 49%;
  padding: 20px 10px;
  border: var(--border) solid;
  border-radius: var(--border-radius);
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  color: var(--button-colour);
}

.btn-primary {
  background-color: var(--primary);
  border-color: var(--primary);
}

.btn-primary:hover {
  background-color: var(--primary-inverse);
}

.btn-secondary {
  background-color: var(--secondary);
  border-color: var(--secondary);
}

.btn-secondary:hover {
  background-color: var(--secondary-inverse);
}

@media (min-width: 425px) {
  .form-control {
    width: 94%;
  }
}

@media (min-width: 768px) {
  .form-section:first-child > .form-group > .form-control {
    width: 92%;
  }

  .form-section:first-child > .form-group:last-child > .form-control {
    width: 97%;
  }
}

@media (min-width: 1024px) {
  .page-content,
  .page-header {
    max-width: var(--max-width);
    margin: auto;
  }

  .form-section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .form-group {
    width: 45%;
  }

  .page-content > section {
    margin-bottom: 30px;
  }

  .form-section:first-child > .form-group {
    width: 30%;
  }

  .form-section:first-child > .form-group:last-child {
    width: 100%;
  }
}
